<div class="row">
 
    <h1>Experiencia Laboral</h1>
    
    <div class="col-lg-1"></div>
    <div class="col-lg-11">

        <ul>
            <li><h1> Trabajo 1 </h1> -
            <h3> (years) </h3></li>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus unde fuga doloremque voluptatem deleniti omnis laudantium minus, accusamus quas, eos rem maxime aut similique. Facere veniam vitae nobis repudiandae repellat?
            </p>
        </ul>

        <ul>
            <li><h1> Trabajo 2 </h1> -
            <h3> (years) </h3></li>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus unde fuga doloremque voluptatem deleniti omnis laudantium minus, accusamus quas, eos rem maxime aut similique. Facere veniam vitae nobis repudiandae repellat?
            </p>
        </ul>

        <ul>
            <li><h1> Trabajo 3 </h1> -
            <h3> (years) </h3></li>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus unde fuga doloremque voluptatem deleniti omnis laudantium minus, accusamus quas, eos rem maxime aut similique. Facere veniam vitae nobis repudiandae repellat?
            </p>
        </ul>






    </div>

</div>
